@model MVC_AdopterUnDev.Models.DeveloperCreate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeveloperCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DevName" class="control-label"></label>
                <input asp-for="DevName" class="form-control" />
                <span asp-validation-for="DevName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevFirstName" class="control-label"></label>
                <input asp-for="DevFirstName" class="form-control" />
                <span asp-validation-for="DevFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevBirthDate" class="control-label"></label>
                <input asp-for="DevBirthDate" class="form-control" />
                <span asp-validation-for="DevBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevPicture" class="control-label"></label>
                <input asp-for="DevPicture" class="form-control" />
                <span asp-validation-for="DevPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevHourCost" class="control-label"></label>
                <input asp-for="DevHourCost" class="form-control" />
                <span asp-validation-for="DevHourCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevDayCost" class="control-label"></label>
                <input asp-for="DevDayCost" class="form-control" />
                <span asp-validation-for="DevDayCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevMonthCost" class="control-label"></label>
                <input asp-for="DevMonthCost" class="form-control" />
                <span asp-validation-for="DevMonthCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevMail" class="control-label"></label>
                <input asp-for="DevMail" class="form-control" />
                <span asp-validation-for="DevMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevCategPrincipal" class="control-label"></label>
                @*<p class="form-control"> @Model.ITLabel</p>*@

                @Html.DropDownListFor(
                    m => m.DevCategPrincipal, Model.langues.Select(o => new SelectListItem { Value = o.idIT.ToString(), Text = o.ITLabel }), "pas de choix"
                )
                <span asp-validation-for="DevCategPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
